/* ---------------- BACKGROUND */
$color__background-body : rgb(8, 52, 84);
$color__background-main : rgb(50, 121, 183);
$color__background-cours : rgb(65, 175, 209);
$color__background-header : rgb(0, 63, 83);
$color__background-barre : rgb(61, 128, 186);
$color__background-footer : rgb(17, 8%, 17%);
$color__background-link : rgb(65, 175, 209);
$color__background-link-hover : rgb(8, 79, 172);

/* ---------------- LIENS */
$color__link : rgb(240, 246, 255);
$color__link-hover : rgb(0, 0, 189);
$color__link-visited : rgb(11, 48, 63);

/* ---------------- LIENS FOOTER */
$color__link__footer : rgb(240, 246, 255);
$color__link__footer-hover : rgb(107, 137, 221);
$color__link__footer-visited : rgb(18, 73, 155);

/* ---------------- LIENS HEADER */
$color__link__header : rgb(65, 175, 209);
$color__link__header-hover : rgb(0, 174, 255);
$color__link__header-visited : rgb(50, 121, 183);

/* ----------------- MENU PRINCIPAL */
$color__link__menu__principal : rgb(240, 246, 255);
$color__link__menu__principal-hover : rgb(142, 177, 253);
$color__link__menu__principal-visited : rgb(240, 246, 255);

/* ----------------- MENU FOOTER */
$color__link__footer__menu : rgb(240, 246, 255);
$color__link__footer__menu-hover : rgb(0, 0, 189);
$color__link__footer__menu-visited : rgb(50, 121, 183);

/* ---------------- MENU BACKGROUNDS */
$background__link__menu__principal : rgb(101, 162, 255);
$background__link__menu__principal-hover : rgb(41, 94, 163);
$background__link__menu__principal-visited : rgb(0, 70, 201);

$background__link__footer__menu : rgb(33, 84, 250);
$background__link__footer__menu-visited : rgb(24, 80, 184);
$background__link__footer__menu-hover : rgb(19, 191, 214);

/* ---------------- FONT */
$color__font-header : rgb(65, 175, 209);
$color__font-main :rgb(210, 233, 255);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(65, 175, 209);