.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;

    display: flex;
    flex-direction: row;

    div{
      width: 33%;
      padding: 10px;
    }
  }

.footer__info, .footer__lorem{
  color: $color__font-footer;
}

.footer__liens{
  .menu{
    height: 100%;
  }

  .page_item{
    font-size: 1.25rem;
    margin-bottom: 20px;
    list-style: none;

    a{
      color:skyblue;
    }
  }
}